{% load staticfiles %}

<html>
    <head>
        <title>VenueSpex</title>
        <link href="https://fonts.googleapis.com/css?family=Audiowide|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <div class="all-the-header">
            <header>
                <a href="/"><h1 id="logo">VenueSpex</h1></a>
                {% if user.is_authenticated %}
                <p>Welcome back, 
                        <a href="{% url 'user_detail' pk=request.user.pk %}">{{request.user.username}}</a> </p>
            </header>
            <nav>
                <a href="/logout">Logout</a>
                <a href="/venues">Venues</a>
                {% else %}
                <a href="/login">Login</a>
                <a href="/signup">SignUp</a>
                {% endif %}
                <a href="/">Home</a>
            </nav>
        </div>
        
        <div class="block-content">
            {% block content %}
            
            {% endblock %}
        </div>
        <!-- <div class="footer">
            <p>by Sofia Aguirre 2018 - <a>GitHub</a></p>
        </div> -->
    </body>
</html>