{% extends 'vs_app/base.html' %}

{% block content %}

<div class="landing-desc">
    <h2>Technical specifications for performing arts venues</h2>
    <h3>Outdated riders are a thing of the past</h3>
</div>

<div class="landing-container">
    <div class="gear">
        <h4>Gear</h4>
        <p>Installed and available gear from each department.</p>
    </div>

    <div class="gear">
        <h4>Space</h4>
        <p>Architectural blueprints and diagrams.</p>
    </div>

    <div class="uptodate">
        <h4>Up To Date</h4>
        <p>Venue managers can add and update all of their spaces
            and respective specs from one place in a consistent database.</p>
    </div>
</div>

<div class="coming-soon-container">
    <h4>COMING SOON</h4>
    <ul>
        <li>Map view of venues all over the county</li>
        <li>Musicians and Production Professionals can add venues to their gig list</li>
    </ul>
</div>

{% endblock %}