{% extends 'vs_app/base.html' %}
{% load staticfiles %}
{% block content %}
        
{% if signedup %}
<div class="thank-you">
    <h3>Thank you for registering!</h3>
    <p>Please log in.</p>
</div>
{% else %}
    <h3>Sign Up</h3>
        <h4>Please fill out this form</h4>
    <div class='registeringForm'>
        <form enctype="multipart/form-data" method="POST" id='formOne'>
        {% csrf_token %}
        {{user_form.as_p }}
        {{customuser_form.as_p }}
        <input type="submit" name="" value="Sign Up" class = 'zoom'>
        </form>
    {% endif %}
    </div>

{% endblock %}