{% extends 'vs_app/base.html' %}
{% load staticfiles %}
{% block content %}
        
{% if signedup %}
        <h1>Thank you for registering!</h1>
{% else %}
    <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
    <div class='registeringForm'>
        <form enctype="multipart/form-data" method="POST" id='formOne'>
        {% csrf_token %}
        {{user_form.as_p }}
        {{customuser_form.as_p }}
        <input type="submit" name="" value="Register" class = 'zoom'>
        </form>
    {% endif %}
    </div>

{% endblock %}