{% extends 'vs_app/base.html' %}

{% block content %}

<div class="venue-list-container">
    <div class="all-venue-list">
        <h2>List of Venues</h2>
        <ul>
            {% for venue in venues %}
                <li>
                    <a href="{% url 'venue_detail' pk=venue.pk %}">{{ venue.title }}</a>
                    in {{venue.location}}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="venue-map-container">
        <p>(map coming soon)</p>
    </div>
</div>

{% endblock %}