{% extends 'vs_app/base.html' %}

{% block content %}

<div class="venue-detail-head">
    <h1>{{ venue.title }}</h1>
    <h4>{{ venue.location }}</h4>
    <h4>Venue Contact: <a href="{% url 'user_detail' pk=venue.manager.pk %}">{{ venue.manager }}</a></h4>
</div>

<img id="venue-pic" src="{{ venue.venue_pic.url }}"/>

<ul class="venue-nav">
    <li><a href={% url 'venue_logistics' pk=venue.pk %}>Parking/FoH</a></li>
    <li><a href={% url 'venue_sound' pk=venue.pk %}>Sound</a></li>
    <li><a href={% url 'venue_lights' pk=venue.pk %}>Lights</a></li>
    <li><a href={% url 'venue_electrical' pk=venue.pk %}>Power</a></li>
    <li><a href={% url 'venue_stage' pk=venue.pk %}>Stage/Rigging</a></li>
    <li><a href={% url 'venue_back' pk=venue.pk %}>Backstage/Artist Accom</a></li>
</ul>

<div class="block-dept-container">
    {% block dept %}
    {% endblock %}
</div>

<div id="venue-detail-comments-section">
    <a href={% url 'comment_create' %}><h4>Got something to say about {{venue.title}}?</h4></a>
    <p><a href={% url 'comment_list' %}>See all venue comments</a></p>
    <em><p><a href="mailto:venue.spex@gmail.com">(email admin to claim this venue)</a></p></em>

    {% block comments %}
    {% endblock %}
</div>



{% endblock %}