{% extends 'vs_app/base.html' %}

{% block content %}
<div class=''>
    <div class=''>
        <h3>Make a profile for each venue you manage</h3>
        <h4>Try to fill out the form as much as possible</h4>
        <form class="venue-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h4>Let's start with the basics</h4>
            <p>Venue Name: {{ form.title }}</p>
            <p>Location: {{ form.location }}</p>
            <p>The best venue photo on Earth: {{ form.venue_pic }}</p>
            <p>Parking/Load-in Diagram: {{ form.parking_diagram }}</p>
            <p>Parking/Load-in Details: {{ form.parking_details }}</p>
            <p>Front of House / Seating Diagram: {{ form.audience_diagram }}</p>
            <p>Front of House / Seating Details: {{ form.audience_details }}</p>
            <h4>Departments</h4>
            <h5>Sound</h5>
            <p>Sound Diagram: {{ form.sound_diagram }}</p>
            <p>Sound Gear Installed: {{ form.houseSoundInstalled }}</p>
            <p>Sound/Backline Gear Available: {{ form.houseSoundAvail }}</p>
            <h5>Lights</h5>
            <p>Lighting Diagram: {{ form.lights_diagram }}</p>
            <p>Lighting Gear Installed: {{ form.houseLightsInstalled }}</p>
            <p>Lighting Gear Available: {{ form.houseLightsAvail }}</p>
            <h5>Power</h5>
            <p>Electrical Diagram: {{ form.electrics_diagram }}</p>
            <p>Circuits / LX-Battens Installed: {{ form.houseElectricInstalled }}</p>
            <p>Gear Available: {{ form.houseElectricAvail }}</p>
            <h5>Stage</h5>
            <p>Stage/Rigging Diagram: {{ form.stage_diagram }}</p>
            <p>Stage / Rigging Installed: {{ form.houseStageInstalled }}</p>
            <p>Gear Available: {{ form.houseStageAvail }}</p>
            <h5>Backstage / Artist Accommodations</h5>
            <p>Backstage Diagram: {{ form.backstage_diagram }}</p>
            <p>Facilities: {{ form.houseBackInstalled }}</p>
            <p>Gear Available: {{ form.houseBackAvail }}</p>
            <input type="submit" value="Create" />
        </form>
    </div>
</div>
{% endblock %}