{% extends 'vs_app/venue_detail.html' %}
{% load staticfiles %}

{% block dept %}
        
<h3>SOUND DEPT</h3>
<div class="dept-details">
    <h4>Sound lines:</h4>
    {% if venue.sound_diagram %}
        <img class="venue-dept-pic" src="{{ venue.sound_diagram.url }}" alt="">
        {% else %}
        <p>no sound image available</p>
    {% endif %}

    <h4>Sound gear installed:</h4>
        <p>{{venue.houseSoundInstalled}}</p>
    <h4>Sound + Backline gear available:</h4>
        <p>{{venue.houseSoundAvail}}</p>
</div>
{% endblock %}