{% extends 'vs_app/venue_detail.html' %}
{% load staticfiles %}

{% block dept %}
        
<h3>ELECTRICAL DEPT</h3>

<div class="dept-details">
    <h4>Circuits diagram:</h4>
    {% if venue.electrics_diagram %}
        <img class="venue-dept-pic" src="{{ venue.electrics_diagram.url }}" alt="">
        {% else %}
        <p>no electrical image available</p>
    {% endif %}

    <h4>Power details:</h4>
        <p>{{venue.houseElectricInstalled}}</p>
    <h4>Extra power equipment available:</h4>
        <p>{{venue.houseElectricAvail}}</p>
</div>

{% endblock %}