{% extends 'vs_app/base.html' %}

{% block content %}
        
<h2>{{ venue.title }}</h2>
<h4>{{ venue.location }}</h4>
<h3>Manager: <a href="{% url 'user_detail' pk=venue.manager.pk %}">{{ venue.manager }}</a></h3>

<h5><a href={% url 'venue_sound' pk=venue.pk %}>Sound Department</a></h5>
<h5><a href={% url 'venue_lights' pk=venue.pk %}>Lights Department</a></h5>
<h5><a href={% url 'venue_electrical' pk=venue.pk %}>Power Department</a></h5>
<h5><a href={% url 'venue_stage' pk=venue.pk %}>Stage/Rigging Department</a></h5>
<h5><a href={% url 'venue_back' pk=venue.pk %}>Backstage/Artist Accom Department</a></h5>

<p>Click here to claim this venue</p>

{% block dept %}
{% endblock %}

<a href={% url 'comment_create' %}><h3>click here to CREATE a comment</h3></a>

<h5><a href={% url 'comment_list' %}>Venue comments</a></h5>


{% block comments %}
{% endblock %}

{% endblock %}