{% extends 'vs_app/venue_detail.html' %}
{% load staticfiles %}

{% block dept %}
        
<h3>STAGE/RIGGING DEPT</h3>

<div class="dept-details">
    <h4>Stage + Rigging Plot:</h4>
    {% if venue.stage_diagram %}
        <img class="venue-dept-pic" src="{{ venue.stage_diagram.url }}" alt="">
        {% else %}
        <p>no stage/rigging diagram available</p>
    {% endif %}

    <h4>Stage details + Rigging specs:</h4>
        <p>{{venue.houseStageInstalled}}</p>
    <h4>Extra stage/rigging gear available:</h4>
        <p>{{venue.houseStageAvail}}</p>
</div>

{% endblock %}