/* GLOBAL */
body {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 2em 1em;
    color: black;
    /* background-image: url(./images/bkg.png); */
    /* background-color: rgb(54, 54, 55); */
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.all-the-header {

}

header {
    /* background-color: rgba(40, 40, 40, 0.673); */
    /* text-decoration: none; */
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav a, header a, a:active {
    text-decoration: none;
    color: inherit;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav a:hover {
    color: rgb(48, 191, 8);
}

.landing-desc {
    text-align: center;
}

.landing-container {
    display: flex;
    justify-content: space-around;
}

.landing-container div {
    width: 50%;
}

.block-content {
    display: flex;
    flex-direction: column;
}

.venue-form textarea {
    resize: none;
}